body {
  margin: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
#Header {
  position: absolute;
  margin: auto;
  top: 20%;
  right: 40%;
  transform: translate(40%, -50%);
  width: 100%;
  size: 100px;
  box-sizing: border-box;
  z-index: 1;
  color: black;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
