body {
  margin: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
#Header {
  position: absolute;
  margin: auto;
  top: 20%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 50%;
  height: 100px;
  box-sizing: border-box;
  z-index: 1;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#nav {
  position: fixed;
  width: 120px;
  height: 20%;
  left: 0;
  top: 0;
  color: black;
  z-index: 3;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bar {
  position: fixed;
  width: 120px;
  height: 20%;
  right: 0;
  top: 0;
  color: black;
  z-index: 3;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
